<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>
                    
                    <input type="text" v-model="nom">

                    <div class="card-body" >
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
         data() {
            return {
                nom: '',
            }
        },

        mounted() {

            window.Echo.channel('channel')
                .listen('AdCreateEvent', (e) =>{
                    this.nom = 'hello word';
            });
                    console.log('dddddddddddd')
        }
    }
</script>
