<template>
    <div class="container">
        <div class="form-group">
            <label for="nom">nom</label>
            <input type="text" class="form-control" v-model="nom" id="nom" placeholder="nom Ad" >
            <div  class="feedback-walidation">
                {{errors.get('nom')}}
            </div>
        </div>
        <div class="form-group">
            <label for="audience">Nombre d'audience</label>
            <input type="text" class="form-control" v-model="audience" id="audience" placeholder="Nombre d'audience">
            <div  class="feedback-walidation">
                {{errors.get('audience')}}
            </div>
        </div>
        <div class="form-group">
            <label for="highest">highest</label>
            <input type="number" class="form-control" v-model="highest" name="highest" id="highest" disabled>
        </div>
        <div class="form-group">
            <label for="budget">budget</label>
            <input type="number" class="form-control" v-model="budget" id="budget" placeholder="budget">
            <div  class="feedback-walidation">
                {{errors.get('budget')}}
            </div>
        </div>
        <div class="form-group">
            <label for="region">selectionner la region</label>
            <select v-model="region" id="region">
                <option v-for="(reg , index) in regions" :key="index" v-bind:value="reg.id">
                    {{ reg.nom }}
                </option>
            </select>
            <div  class="feedback-walidation">
                {{errors.get('region')}}
            </div>
        </div>
        <div class="form-group">
            <label for="file">choisir votre video</label>
            <input type="file" id="file" name="file" ref="file" v-on:change="handleFileUpload()" class="form-control"/>
            <div  class="feedback-walidation">
                {{errors.get('video')}}
            </div>
        </div>
        <button @click="createAd()" class="btn btn-primary">Submit</button>
    </div>
</template>

<script>

    class Errors{

        constructor(){
            this.errors = {};
        }

        get(field){
            if (this.errors[field]) {
                return this.errors[field][0];
            }
        }

        record(errors){
            this.errors = errors.errors;
        }
    }

    export default {
        data() {
            return {
                nom: '',
                audience: '',
                highest: '500',
                budget: '',
                region: '1',
                file: '',
                errors: new Errors(),
                regions:[
                    { id : 1 , val : null,nom : null},
                    { id : 2 , val : 0.2,nom : "Indonesia"},
                    { id : 3 , val : 0.27,nom : "Thailand"},
                    { id : 4 , val : 0.38,nom : "United States of America"},
                    { id : 5 , val : 3.08,nom : "Turkey"},
                    { id : 6 , val : 1.45,nom : "Russian Federation"},
                    { id : 7 , val : 1.4,nom : "Malaysia"},
                    { id : 8 , val : 0.34,nom : "Morocco"},
                    { id : 9 , val : 0.59,nom : "Pakistan"},
                    { id : 10 , val : 2.46,nom : "Japan"},
                    { id : 11 , val : 4.51,nom : "France"},
                    { id : 12 , val : 0.36,nom : "Germany"},
                    { id : 13 , val : 4.38,nom : "Spain"},
                    { id : 14 , val : 0.59,nom : "Taiwan"}
                    ]
            }
        },

        created() {
            this.getHighest();

        },

        methods: {
            getHighest() {
                axios.get('highest')
                .then( response => { if (response.data.budget)this.highest=response.data.budget })
                .catch(function(){
                    console.log('getHighest is FAILURE!!');
                });
            },

            createAd() {

                let formData = new FormData();

                formData.append('nom', this.nom);
                formData.append('audience', this.audience);
                formData.append('budget', (this.budget * this.regions[this.region].val)*1000);
                formData.append('budgetInitial', this.budget);
                formData.append('CPM', this.regions[this.region].val);
                if (this.region!=1) {
                    formData.append('region', this.regions[this.region].nom);
                }
                formData.append('video', this.file);

                axios.post( '/publication',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(){
                    console.log("succes !!");
                }).catch( error => this.errors.record(error.response.data) );

            },

            clear(){
                this.nom="";
                this.audience="";
                this.budget="";
                this.region="";
                this.file = null;
                $('.feedback-walidation').empty();
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            }
        },

        mounted() {

            window.Echo.channel('channel')
                .listen('AdCreateEvent', (e) =>{
                    this.getHighest();
                    this.clear();
            });
            console.log('Component mounted.')
        }
    }
</script>
